<!DOCTYPE html>
<html lang="en-us">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>
    MS 15-034 - HTTP.sys Remote Code Execution Vulnerability &middot; 
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="//anantshri.github.io/manual_verification/assets/css/bootstrap.min.css">

</head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="//anantshri.github.io/manual_verification">Manual Verification Templates</a>
          </div>
        </div>
      </nav>

  <div class="container">
<ul class="breadcrumb">
  <li><a href="//anantshri.github.io/manual_verification">Home</a></li>
  <li><a href="//anantshri.github.io/manual_verification/templates/">Templates</a></li>
  <li class="active">MS 15-034 - HTTP.sys Remote Code Execution Vulnerability</li>
</ul>

<div class="bs-component">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">MS 15-034 - HTTP.sys Remote Code Execution Vulnerability</h3>
    </div>
    <div class="panel-body" markdown="1">
<h2 id="ms-15-034">MS 15-034</h2>
<p>This vulnerability was initially exploited as DoS but also has potential to be used as Remote Code Execution. Microsoft has already implemented a patch for the same.</p>

<h2 id="affected-systems">Affected Systems</h2>

<p>All versions of windows</p>

<ul>
  <li>Windows 8 / 8.1</li>
  <li>Windows 2003 Server</li>
</ul>

<h2 id="manual-verification-tests">Manual Verification Tests</h2>

<ul>
  <li>Command to be used</li>
</ul>

<p><code>
curl -v [ipaddress]/ -H "Host: test" -H "Range: bytes=0-18446744073709551615"
</code></p>

<p>OR</p>

<p><code>
wget -O /dev/null --header="Range: 0-18446744073709551615" http://[ip address]/
</code></p>

<ul>
  <li>Result Expected</li>
</ul>

<p><strong>Test Fail</strong>: Machine Vulnerable : 416 HTTP ERROR</p>

<p><strong>Test Pass</strong>: Machine Not Vulnerable : Any error or response other then 416 HTTP Error</p>

    <div class="references">
      <h3>Vulnerability Identifications</h3>
      <div id="CVE">CVE : 2015-1635</div>
      <div id="NESSUS">NESSUS : 82771</div>
      <div id="BUGTrack">BUGTrack : 74013</div>
      <div id="OSVDB">OSVDB : </div>
      <h3>Reference Links</h3>
    <ul>  
      
      <li>https://community.qualys.com/blogs/securitylabs/2015/04/20/ms15-034-analyze-and-remote-detection</li>
      
      <li>https://technet.microsoft.com/security/bulletin/MS15-034</li>
      
    </ul>
    </div>
</div>
</div>
</div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- 
This will hold some kind of analytics code
-->

  </body>
</html>
