---
layout: template
title: title
author: github_username
CVE: YEAR-NUMBER
Nessus: NESSUSID
Bugtrack: BUGTRACKID
links:
- Reference links
---

TITLE
---------------
__DESCRIPTION__

Affected Systems
----------------

__AFFECTED SYSTEL__

Manual Verification Tests
-------------------------

* Command to be used

__MANUAL VERIFICATION STEPS__

* Result Expected

__Expected result__
